/* Navbar */

.navbar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:20px 60px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    z-index:1000;

    background:transparent;
    box-sizing:border-box;
}

/* Logo */

.logo{
    width:280px;
    height:auto;
    display:block;
    object-fit: contain;
}

/* Links */

.nav-links{
    display:flex;
    gap:45px;
    list-style:none;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:500;
    letter-spacing:.5px;
    transition:.3s;
    padding-bottom:5px;
}

.nav-links a:hover{
    color:#D4AF37;
    border-bottom:2px solid #D4AF37;
}